body {
  background-color: #3f5782;
}

article {
  background: linear-gradient(#2e3e5b, 1%, #090c0d);
}

.section-1 h2 {
  color: white;
  font-family: proxima-nova;
  font-size: 0.975rem;
  font-weight: 600;
}

.playlist-cover {
  margin: 3rem;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  box-shadow: -9px 22px 109px -5px rgba(0, 0, 0, 0.47);
}

.cat-avatar {
  height: 3rem;
  width: 3rem;
}

.section-1 {
  display: flex;
  align-items: end;
  align-content: center;
}

.section-1 div {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 1rem;
}

.section-1 div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.section-1 div h1 {
  color: white;
  font-family: proxima-nova;
  font-weight: 900;
  font-size: 5rem;
  line-height: 100%;
}

.section-1 div h2 {
  color: white;
  font-family: proxima-nova;
}

.section-1 div h3 {
  color: white;
  font-family: proxima-nova;
  font-weight: 600;
  padding: 0.5rem;
}

.section-2 img {
  height: 5rem;
  padding-left: 2.5rem;
}

.section-3 {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15rem;
  padding-left: 4rem;
  /* display: flex;
  flex-direction: row; */
}

.section-3 h3 {
  color: #abacb2;
  font-family: proxima-nova;
  font-weight: 400;
  font-size: 1.25rem;
}

.song-number {
  color: #abacb2;
  font-family: proxima-nova;
  font-weight: 400;
  font-size: 1.25rem;
}

.song-number div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3 img {
  height: 1.3rem;
  width: 1.3rem;
}

.song-1 img {
  height: 5rem;
  width: 5rem;
}

.song-1 h1 {
  color: white;
  font-family: proxima-nova;
}

.song-1 h3 {
  color: #abacb2;
  font-family: proxima-nova;
}

.song-2 img {
  height: 5rem;
  width: 5rem;
}

.song-2 h1 {
  color: white;
  font-family: proxima-nova;
}

.song-2 h3 {
  color: #abacb2;
  font-family: proxima-nova;
}

.song-3 img {
  height: 5rem;
  width: 5rem;
}

.song-3 h1 {
  color: white;
  font-family: proxima-nova;
}

.song-3 h3 {
  color: #abacb2;
  font-family: proxima-nova;
}

.song-4 img {
  height: 5rem;
  width: 5rem;
}

.song-4 h1 {
  color: white;
  font-family: proxima-nova;
}

.song-4 h3 {
  color: #abacb2;
  font-family: proxima-nova;
}

.song-5 img {
  height: 5rem;
  width: 5rem;
}

.song-5 h1 {
  color: white;
  font-family: proxima-nova;
}

.song-5 h3 {
  color: #abacb2;
  font-family: proxima-nova;
}

.song-6 img {
  height: 5rem;
  width: 5rem;
}

.song-6 h1 {
  color: white;
  font-family: proxima-nova;
}

.song-6 h3 {
  color: #abacb2;
  font-family: proxima-nova;
}
